/* anvendelig for alle html elementer*/
*{
    margin: 0;
    padding: 0;
    /*skrift type til mulighederne*/
    font-family: 'Poppins', sans-serif;
}
/*baggrundsbillede*/
.header{
    min-height: 100vh;
    width: 100%;
    /*første farvekode rgba og anden farvekode rgba*/
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(/static/zpictures/zerowaste.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
/*mellemrum til links*/
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
/* fix logo size*/
nav img{
    width: 150px;
    opacity: 0.8;
}
/*optage al pladsen i rækken "flex"*/
.nav-button{
    flex: 1;
    text-align: right;
}
/*list*/
.nav-button ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
/* givet mulighederne home, kontakt os, om os, farve og str*/
.nav-button ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
/*streg under mulighederne home, kontakt os, om os,*/
.nav-button ul li::after {
    content: "";
    width: 100%;
    height: 2px;
    background: lightblue;
    display: block;
    margin: auto;
}
/*knappens udseende samt mus detaljen*/
.dropbtn{
    background-color: orange;
    color:white;
    /*ramme*/
    border: none;
    /*pegefinger*/
    cursor:pointer;
}
.dropbtn5{
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
}
.dropbtn6{
    background-color: orange;
    color: white;
    border:none;
    cursor: pointer;
}
/*.dropbtn{
    position: relative;
    display: inline-block;
}

.dropbtn5{
    position: relative;
    display: inline-block;
}
.dropbtn6{
    position: relative;
    display: inline-block;
}*/
/*.dropbtn:hover .dropdown{
    display: block;
    background-color: orange;
}
.dropbtn5:hover .dropdown5{
    display: block;
    background-color: orange;
}
.dropbtn6:hover .dropdown6{

    display: block;
    background-color: orange;
}*/

/*Danmark mod madspild placering i midten + farve*/
.text{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
/*giver h1 str*/
.text h1{
    font-size: 50px;
}
/*10 px fra top, 0 fra højre og venstre, 40px fra bunden*/
.text p{
    margin: 10px 0 40px;
    font-size: 14px;
    color:white;
}
/*giver str - forhindre madspild her*/
.fmh{
    font-size: 40px;
}
/*.try{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}*/
/*optage al pladsen i rækken "flex" + mulighederne placeres i midten under fmh/forhindre madspild her*/
.try-button{
    flex: 1;
    text-align: center;
    width: 90%;
    color: white;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
/*gør knapperne til mulighederne smukke*/
.try-button ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
/*forhindre madspild her - str og farve*/
.try-button ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
/*box under muligheder*/
.try-button ul li::after{
    content: "";
    width: 100%;
    height: 2px;
    background: lightblue;
    display: block;
    margin: auto;
    /*hover effekt transition*/
    /*transition: 0.5s;*/
}
/**/
/*.dropbtn2 {
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
}
.dropbtn3{
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
}
.dropbtn4{
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
}*/
/*.dropbtn2{
    position: relative;
    display: inline-block;
}
.dropbtn3{
    position: relative;
    display: inline-block;
}
.dropbtn4{
    position: relative;
    display: inline-block;
}*/
/*giver mulighederne forbruger virksomhed og organisation gennemsigtighed og fed detalje*/
.dropbtn2{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid orange;
    font-size: 10px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
/*hover bruges til at langsomt vise farve (detaljen)*/
.dropbtn2:hover{
    border: 1px solid orange;
    background: orange;
    transition: 1s;
}
.dropbtn3{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid orange;
    font-size: 10px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.dropbtn3:hover{
    border: 1px solid orange;
    background: orange;
    transition: 1s;
}
.dropbtn4{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid orange;
    font-size: 10px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.dropbtn4:hover{
    border: 1px solid orange;
    background: orange;
    transition: 1s;
}
/*værd at vide om madspild - */
.vide{
    width: 80%;
    /*placering*/
    margin: auto;
    text-align: center;
    /*afstand fra billede slut til h2 start */
    padding-top: 20px;
}
/*str og tekstens fedme*/
h2{
    font-size: 36px;
    font-weight: 600;
}
/**/
.row{
    /*afstand fra værd at vide til text-start*/
    margin-top: 2%;
    /*orden*/
    display: flex;
    /*god mellemrum til de tre kolonner*/
    justify-content: space-between;
    text-align: center;
}
.column{
    text-align: justify;
}
.column2{
    text-align: justify;
}
.column3{
    text-align: justify;
}
.container{
    position: relative;
    width: 100%;
    overflow: hidden;
    /*16:9 aspect*/
    padding-top: 56.25%;
}
.responsive-iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}