<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forhindring af madspild</title>
  <!-- Thymeleaf Spring css-->
  <link th:href="@{/css/Forhindring.css}" rel="stylesheet"/>
  <!-- Local html css-->
  <link href="../static/Forhindring.css" rel="stylesheet">

</head>
<body>
<!-- næste side fra linket "forhindre madspild her"-->
<section class="sektor">
  <h1>Vælg venligst sektor</h1>

<div class="række">
  <div class="forbrugere">
    <h3>For forbrugere</h3>
    <p>bla bla bla</p>
  </div>
  <div class="virksomheder">
    <h3>For virksomheder</h3>
    <p>bla bla bla</p>
  </div>
  <div class="organisationer">
    <h3>For organisationer</h3>
    <p>bla bla bla</p>
  </div>
</div>
</section>

</body>
</html>