<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="with-device-width, initial-scale=1.0">
   --> <title>Danmark mod Madspild</title>
    <!-- Thymeleaf Spring css-->
    <link th:href="@{/css/Madspild.css}" rel="stylesheet"/>
    <!-- Local html css-->
    <link href="../static/Madspild.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- skrifttype til mulighederne-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <section class="header">
    <nav>
        <!-- klikke på logoet-->
        <a href="Madspild.html"><img src="/static/zpictures/dklogo.jpg"></a>
        <div class="nav-button">
            <!-- liste-->
            <ul>
                <!-- klikke på linket-->
                <button class="dropbtn">
                        <li> <a href="Madspild.html">Home</a></li>
                </button>
                <button class="dropbtn5">
                        <li> <a href="">Kontakt os</a></li>
                </button>

                <button class="dropbtn6">
                        <li> <a href="">Om os</a></li>
                </button>
            </ul>
        </div>
    </nav>
        <div class="text">
            <h1>Danmark mod Madspild</h1>
            <p>Hver dag bliver der smidt næsten 2.000 tons fødevarer ud <br> i Danmark
            </p>
            <a class="fmh"><strong>Forhindre madspild her:</Strong></a>
        </div>
        <nav class="try">
            <div class="try-button">
                <ul>
                <button class="dropbtn2">
                    <li> <a href="Forbrugere.html">Forbrugere</a></li>
                </button>

                <button class="dropbtn3">
                    <li> <a href="Virksomheder.html">Virksomheder</a></li>
                </button>

                <button class="dropbtn4">
                    <li> <a href="Organisationer.html">Organisationer</a></li>
                </button>
                </ul>
            </div>
        </nav>
    </section>
</body>
</html>