<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="with=device-width, initial-scale=1">
    <title>Danmark mod Madspild</title>
    <!-- Thymeleaf Spring css-->
    <link th:href="@{/css/Madspild.css}" rel="stylesheet"/>
    <!-- Local html css-->
    <link href="../static/Madspild.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- skrifttype til mulighederne-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <section class="header">
    <nav>
        <!-- klikke på logoet-->
        <a href="Madspild.html"><img src="/static/zpictures/dklogo.jpg"></a>
        <div class="nav-button">
            <!-- liste-->
            <ul>
                <!-- klikke på linket-->
                <button class="dropbtn">
                        <li><a href="Madspild.html">Home</a></li>
                </button>

                <button class="dropbtn5">
                        <li><a href="Kontaktos.html">Kontakt os</a></li>
                </button>

                <button class="dropbtn6">
                        <li><a href="Omos.html">Om os</a></li>
                </button>
            </ul>
        </div>
    </nav>
        <div class="text">
            <h1>Danmark mod Madspild</h1>
            <p>Hver dag bliver der smidt næsten 2.000 tons fødevarer ud <br> i Danmark
            </p>
            <a class="fmh"><strong>Forhindre madspild her:</Strong></a>
        </div>
        <nav class="try">
            <div class="try-button">
                <ul>
                <button class="dropbtn2">
                    <li> <a href="Forbrugere.html">For forbrugere</a></li>
                </button>

                <button class="dropbtn3">
                    <li> <a href="Virksomheder.html">For virksomheder</a></li>
                </button>

                <button class="dropbtn4">
                    <li> <a href="Organisationer.html">For organisationer</a></li>
                </button>
                </ul>
            </div>
        </nav>
    </section>
    <section class="vide">
        <h2>Værd at vide om madspild</h2>
        <div class="row">
        <div class="column">
        <p1>
            Madspildet i den danske servicesektor <br> udgør 227.000-ton pr.år. <br>
            Til sammenligning er det samlede madspild<br> fra husholdningerne 261.000-ton pr.år. <br>
        </p1>
        </div>

        <div class="column2">
            <p2>
                Det største madspild i servicesektoren<br> stammer fra detailhandelen, <br>
                der spilder 163.000 tons pr.år, <br> svarende til 72% af servicesektorens madspild. <br>
            </p2>
        </div>
        <div class="column3">
            <p3>
                Af detailhandelens madspild står <br> specialforretninger som slagtere, <br>
                fiskeforretninger og grønthandlere <br> for 12.000 tons pr.år, <br>
                mens ikke-specialiserede forretninger <br> som kiosker, købmænd, <br>
                supermarkeder og varehuse <br> står for 151.000 ton pr.år. <br>
            </p3>
        </div>

        <!--<div class="column4">
            <p4>
            Kilde: Kortlægning af madaffald i servicesektoren <br>
            og Kortlægning af dagrenovation i Danmark
        </p4>
        </div>-->
        </div>
    </section>
    <div class="container">
            <iframe class="responsive-iframe" src="https://www.youtube.com/watch?v=0EfsD7xNLIo"></iframe>
    </div>
</body>
</html>